@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

@layer base {
  body {
    background-color: var(--color-slate-950);
    color: white;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}